body{
	background-color: #BABABA;
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
}
h5{
	color: #ff0000;
}
legend{
	color: #01f5a2;
}

h1 strong {
	color: blue;
}

p strong {
	color: green;
}